<link rel="stylesheet" href="./../styles/navbar.css">
<header class="header">
    <a href="/inicio" class="logo">Quality Bolca</a>
    <input type="checkbox" id="check">
    <label for="check" class="icons">
        <img src="./svg/menu.svg" id="menu-icon">
        <img src="./svg/x.svg" id="close-icon">
    </label>

    <nav class="navbar">
        <a class="tex" href="/" style="--i:0" class="link active">Requisicion</a>
        <a class="tex" href="directorio" style="--i:1">Mejora continua</a>
        <a class="tex" href="mantenimiento" style="--i:2">Mantenimiento</a>
        <a class="tex" href="solicitud" style="--i:3">Solicitud de Empleo</a>
    </nav>
</header>