<form class="row g-3">
    <div class="col-md-6">
        <label for="inputEmail4" class="form-label">Nombre</label>
        <input type="text" class="form-control" id="inputEmail4">
    </div>
    <div class="col-md-6">
        <label for="inputPassword4" class="form-label">Apellido</label>
        <input type="text" class="form-control" id="inputPassword4">
    </div>
    <div class="col-12">
        <label for="inputAddress" class="form-label">Contrase単a</label>
        <input type="text" class="form-control" id="inputAddress" placeholder="contrase単a">
    </div>
    <div class="col-12">
        <label for="inputAddress2" class="form-label">Confirmar contrase単a</label>
        <input type="text" class="form-control" id="inputAddress2" placeholder="contrase単a">
    </div>
    <div class="col-12">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" id="gridCheck">
            <label class="form-check-label" for="gridCheck">
                Recordar Usuario
            </label>
        </div>
    </div>
    <div class="col-12 nav-button">
        <button type="submit" class="btn btn-primary">Iniciar</button>
    </div>
</form>