<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <% if (errores !='' ) { %>
        <%- include('partials/_confirmar-cuenta-error'); %>
        <% }else{%>
        <%- include('partials/__confirmar-cuenta-bien'); %>
        <% }%>
        <h2>
            <a style=":hover{text-decoration: underline;}" href="/login">Puedes iniciar Sesión</a>
        </h2>
</body>
</html>