<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./../styles/directorio.css">
    <link rel="stylesheet" href="./../styles/general.css">
</head>

<body>
    <section>
        <%- //include('partials/_navbar'); %>
    </section>
    <section>
        <div class="buscadorC">
            <input type="text" class="" nombre2="buscador" id="buscador" placeholder="Buscar...">
        </div>
        <main>
            <%- include('partials/_cartas'); %>
        </div>
    </section>
    <script src="scripts/directorio.js"></script>
</body>

</html>