<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./../styles/tabla.css"> -->
    <link rel="stylesheet" href= "./../bootstrap/css/bootstrap.min.css">
     <!-- <link rel="stylesheet" href="../../public/bootstrap/css/bootstrap.min.css"> -->
</head>
<body>
    <div class="container">
        <div class="table-container">
            <h2 class="text-center">MANTENIMIENTOS</h2>
            <br>
            <%- include('partials/_tabla'); %>
        </div>
    </div>
    <button type="button" class="btn btn-primary" id="btnEnviar">Enviar Información</button>
    <script src="./../scripts/mantenimiento.js"></script>
</body>
</html>