<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olvide mi contraseña</title>
    <link rel="stylesheet" href="./../styles/login.css">
</head>

<body>
    <div class="container">
        <%- //include('partials/_alerta'); %>
            <div class="form-box">
                <form id="login-form" method="post" action="/olvide-password" novalidate>
                    <input type="hidden" name="_csrf" value="<%=csrfToken%>">
                    <h1>Quality Bolca</h1>
                    <h2>Recuperar contraseña</h2>
                    <div class="input-box">
                        <input name="email" id="inputEmail" type="email">
                        <label for="inputEmail">Email</label>
                        <i class='bx bxs-user'></i>
                    </div>
                    <button class="btn">Enviar Informacion</button>
                    <div class="account-creation">
                        <span>¿Ya tienes cuenta? </span><a href="/login">Inicia sesión</a>
                    </div>
                </form>
            </div>
            <% if (errores !='' ) { %>
                <%- include('partials/_alertaError'); %>
                    <% } %>
    </div>
</body>

</html>